.mainSection {
  display: flex;
  justify-content: center;
}

.createSection {
  display: flex;
  justify-content: center;
  margin: 2rem 4rem;
  padding: 5rem 3rem;
  background: white;
  border-radius: 3rem;
  box-shadow: 1px 1px 3px silver;
  width: 40rem;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
