{% extends './base.html' %} {% load static %} {% block titleBlock %} グルメモ |
作成 {% endblock %} {% block styleBlock %}
<link rel="stylesheet" href="{% static '/styles/create.css' %}" />
{% endblock %} {% block bodyBlock %}
<h1>新しいグルメモを作成する</h1>
<section class="mainSection">
  <section class="createSection">
    <form action="" method="POST">
      {% csrf_token %}
      <section class="formSection">
        <section>
          <label for="restaurant_name" class="formLabel">店名</label>
          <input
            type="text"
            id="restaurant_name"
            name="restaurant_name"
            class="textBox"
          />
        </section>
        <section>
          <label for="rating" class="formLabel">評価（1〜5）</label>
          <input type="number" id="rating" name="rating" class="textBox" />
        </section>
        <section>
          <label for="memo" class="formLabel">メモ</label>
          <textarea
            id="memo"
            name="memo"
            rows="5"
            cols="40"
            class="textArea"
          ></textarea>
        </section>
        <section class="submitButtonSection">
          <input type="submit" value="登録する" class="submitButton" />
        </section>
      </section>
    </form>
  </section>
</section>
<section class="backButtonSection">
  <a href="{% url 'list' %}" class="button">一覧画面に戻る</a>
</section>
{% endblock %}
